$primary-color: #55c57a;
$primary-color-light: #f2f2;
$primary-color-dark: #28b485;

$color-secondary-light: #ffbb00c9;
$color-secondary-dark: #fa7832;

$color-primary-light: #d7eb25c9;
$color-primary-dark: #9ead12a4;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #6353eece;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-gray-dark:#777;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;